<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>
  aims to help researchers get their work done
  in less time and with less pain
  by teaching them basic research computing skills.
  This hands-on workshop will cover basic concepts and tools,
  including program design, version control, data management,
  and task automation.
  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>
<p>
  Note that this workshop will take place over 4 consecutive Wednesdays May 20, 27 June 3, 10. We ask that you attend to the best of your ability all four weeks. Contact us if there is a problem and we will do our best to help accommodate. 
</p>
<p>
  What will be unique to this on-line workshop is that we will be offering both Python and R as programing languages. When you register, please indicate which language lesson you will want to attend. We will set a minimum of at least 4 learners will need to register in order for the session to go. 
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
